<h3 class="mt-4">Eventos:</h3>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="me-2">Filter: </label>
    <input [(ngModel)]="filterList" type="text" class="form-label me-2" placeholder="buscar">

  </div>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="showImg = !showImg">
          {{ showImg ? 'Ocultar Imagem' : 'Exibir Imagem' }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of filteredEventos">
      <td>
        <img [collapse]="!showImg" [isAnimated]="true" src="/assets/{{ evento.imagemURL }}" [style.width.px]="widthImg"
          [style.margin.px]="marginImg">
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-1">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr *ngIf="!eventos.length">
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
