<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <!-- <img src="~/img/Flex_WHT_Med_r.png" width="100" height="50" class="d-inline-block align-content-center" alt="" />
      Quinteto -->
    <div>Quinteto</div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Action Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cadastro de falhas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cadastro de usuários</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
      <li>
        <a class="btn btn-sm btn-outline-secondary my-2 my-sm-0 text-light" href="#">Logout [@ViewBag.UserName]</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container col-6">
  <div class="row mt-3">
    <h2>Cadastro de ação</h2>
    <hr>
  </div>

  <div class="row">
    <form>
      <div class="form-row">
        <div class="form-group">
          <label for="cliente">Cliente</label>
          <select class="form-control form-select" style="cursor: pointer;" id="cliente" name="cliente">
            <option hidden>Selecione o cliente</option>
            <option>BoardIBM</option>
            <option>Canadian</option>
            <option>Cisco</option>
            <option>Compaq</option>
            <option>Enel</option>
            <option>Facemask</option>
            <option>HP Computing</option>
            <option>HP Inkjet</option>
            <option>HP Laser</option>
            <option>HP Monitor</option>
            <option>HPE</option>
            <option>Intel</option>
            <option>Lexmark</option>
            <option>Magnamed</option>
            <option>Motorola</option>
            <option>Nextracker</option>
            <option>PIC</option>
            <option>Softlayer</option>
            <option>Verifone</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2 mt-2">
          <label for="kpi">KPI</label>
          <select class="form-control form-select" style="cursor: pointer;" id="kpi" name="kpi">
            <option hidden>Selecione o KPI</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="turno">Turno</label>
          <select class="form-control form-select" style="cursor: pointer;" id="turno" name="turno">
            <option hidden>Selecione o turno</option>
            <option>ADM</option>
            <option>1º turno</option>
            <option>2º turno</option>
            <option>3º turno</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="linha">Linha</label>
          <select class="form-control form-select" style="cursor: pointer;" id="linha" name="linha">
            <option hidden>Selecione a linha</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="modelo">Modelo</label>
          <input type="text" class="form-control" id="modelo" placeholder="*descrever exemplo de modelo*" name="modelo">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="falha">Falha</label>
          <select class="form-control form-select" style="cursor: pointer;" id="falha" name="falha">
            <option hidden>Seleciona a falha</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="status">Status</label>
          <select class="form-control form-select" style="cursor: pointer;" id="status" name="status">
            <option hidden>Seleciona o status</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="causaraiz">Causa raiz</label>
          <input type="text" class="form-control" id="causa-raiz" placeholder="*descrever exemplo de cauxa raiz*"
            name="causaraiz">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="acao">Ação</label>
          <input type="text" class="form-control" id="acao" placeholder="*descrever exemplo de ação*" name="acao">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="responsavel">Responsável</label>
          <input type="text" class="form-control" id="responsavel" placeholder="*descrever exemplo do responsável*"
            name="responsavel">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="area">Área</label>
          <select class="form-control form-select" style="cursor: pointer;" id="area" name="area">
            <option hidden>Seleciona área</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="treinamento1turno">Treinamento 1º turno</label>
          <select class="form-control form-select" style="cursor: pointer;" id="treinamento1turno"
            name="treinamento1turno">
            <option>Não</option>
            <option>Sim</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="treinamento2turno">Treinamento 2º turno</label>
          <select class="form-control form-select" style="cursor: pointer;" id="treinamento2turno"
            name="treinamento2turno">
            <option>Não</option>
            <option>Sim</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="treinamento3turno">Treinamento 3º turno</label>
          <select class="form-control form-select" style="cursor: pointer;" id="treinamento3turno"
            name="treinamento3turno">
            <option>Não</option>
            <option>Sim</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="observacao">Observação</label>
          <textarea class="form-control" id="observacao" rows="4" name="observacao"></textarea>
        </div>
      </div>

      <div class="form-row style">
        <div class="form-group mt-2 mb-3">
          <label for="data">Data</label>
          <input type="date" class="form-control" id="data" name="data">
        </div>
      </div>

      <div class="form-row d-flex justify-content-between mb-3">
        <button type="button" class="btn btn-danger">Cancelar</button>
        <button type="button" class="btn btn-success">Cadastrar</button>
      </div>

    </form>
  </div>
</div>

<!-- <div class="BodyImage">
  @RenderBody()
  <hr /> -->
<footer class="FooterStyle bg-dark">
  <div class="mx-auto text-light" style="width: 350px; height: 30px;">
    <p>&copy; @DateTime.Now.Year - IT Shopfloor Brazil</p>
  </div>
</footer>
<!-- </div> -->

<!-- @Scripts.Render("~/Scripts/jquery-3.6.0.min.js")
  @Scripts.Render("~/Scripts/JS/bootstrap.js")
  @Scripts.Render("~/Scripts/jquery-ui.js")

  @*@Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")*@

  @RenderSection("scripts", required: false) -->
