<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <!-- <img src="~/img/Flex_WHT_Med_r.png" width="100" height="50" class="d-inline-block align-content-center" alt="" />
      Quinteto -->
    <div>Quinteto</div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Action Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cadastro de falhas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cadastro de usuários</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
      <li>
        <a class="btn btn-sm btn-outline-secondary my-2 my-sm-0 text-light" href="#">Logout [@ViewBag.UserName]</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container col-6">
  <div class="row mt-3">
    <h2>Cadastro de usuário</h2>
    <hr>
  </div>

  <div class="row">
    <form>

      <div class="form-row">
        <div class="form-group">
          <div class="row ">
            <div class="col-10">
              <label for="usuário">Usuário</label>
              <input type="text" class="form-control" id="usuário" name="usuário" placeholder="Ex: saogcard">
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-success btn-sm btn-default">Buscar</button>
              <!--Deixar botao alinhado com o input-->
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="nomecompleto">Nome Completo</label>
          <input type="text" class="form-control" id="modelo" placeholder="Ex: Gustavo Gama Cardozo"
            name="nomecompleto">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Ex: gustavo.cardozo@flex.com">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="descricao">Descricao</label>
          <input type="descricao" class="form-control" id="descricao" name="descricao"
            placeholder="*descrever um exemplo de descricao*">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2 mt-2">
          <label for="grupo">Grupo</label>
          <select class="form-control form-select" style="cursor: pointer;" id="grupo" name="grupo">
            <option hidden>Selecione um grupo</option>
            <option>Admin</option>
            <option>User</option>
            <option>User [Manager]</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2 mt-2">
          <label for="listadedistruibuicao">Lista de distribuição</label>
          <select class="form-control form-select" style="cursor: pointer;" id="listadedistruibuicao"
            name="listadedistruibuicao">
            <option hidden>Selecione uma lista</option>
            <option>Distribuição L1</option>
            <option>Distribuição L2</option>
            <option>Distribuição L3</option>
          </select>
        </div>
      </div>


      <!--
      <div class="form-row">
        <div class="form-group mt-2 mt-2">
          <label for="kpi">KPI</label>
          <select class="form-control form-select" style="cursor: pointer;" id="kpi" name="kpi">
            <option hidden>Selecione o KPI</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
            <option>xpto</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mt-2">
          <label for="modelo">Modelo</label>
          <input type="text" class="form-control" id="modelo" placeholder="*descrever exemplo de modelo*" name="modelo">
        </div>
      </div>

      <div class="form-row d-flex justify-content-between mb-3">
        <button type="button" class="btn btn-danger">Cancelar</button>
        <button type="button" class="btn btn-success">Cadastrar</button>
      </div> -->

    </form>
  </div>
</div>

<!-- <div class="BodyImage">
  @RenderBody()
  <hr /> -->
<footer class="FooterStyle bg-dark">
  <div class="mx-auto text-light" style="width: 350px; height: 30px;">
    <p>&copy; @DateTime.Now.Year - IT Shopfloor Brazil</p>
  </div>
</footer>
<!-- </div> -->

<!-- @Scripts.Render("~/Scripts/jquery-3.6.0.min.js")
  @Scripts.Render("~/Scripts/JS/bootstrap.js")
  @Scripts.Render("~/Scripts/jquery-ui.js")

  @*@Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")*@

  @RenderSection("scripts", required: false) -->
