<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
    </div>
  </div>

  <div class="col-md-6">

    <form [formGroup]="form">
      <div class="p-1">
        <div class="pb-2 d-block d-md-none">
          <h3 class="border-bottom">Cadastro de Usuário</h3>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label>Primeiro Nome</label>
            <input type="text" class="form-control"
              [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}"
              placeholder="Insira o Primeiro nome" formControlName="primeiroNome" />
            <div *ngIf="f.primeiroNome.errors.required" class="invalid-feedback">Primeiro nome obrigatório.</div>
          </div>
          <div class="form-group col-sm-6">
            <label>Último nome</label>
            <input type="text" class="form-control"
              [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}" formControlName="ultimoNome"
              placeholder="Insira o Último nome" />
            <div *ngIf="f.ultimoNome.errors.required" class="invalid-feedback">Ultimo nome obrigatório.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Email:</label>
          <input class="form-control" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
            formControlName="email" type="text" placeholder="Insira o Nome Completo" />
          <div *ngIf="f.email.errors.required" class="invalid-feedback">Email obrigatório.</div>
          <div *ngIf="f.email.errors.email" class="invalid-feedback">Email inválido.</div>
        </div>
        <div class="form-group">
          <label for="">Usuario:</label>
          <input class="form-control" [ngClass]="{'is-invalid': f.userName.errors && f.userName.touched}"
            formControlName="userName" type="text" placeholder="Insira o nome de Usuário" />
          <div *ngIf="f.userName.errors.required" class="invalid-feedback">Usuário obrigatório.</div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="">Senha:</label>
            <input class="form-control" [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}" type="password"
              placeholder="Digite uma Senha" formControlName="senha" />
            <div *ngIf="f.senha.errors?.required" class="invalid-feedback">Senha obrigatória.</div>
            <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">Senha precisa ter no minimo 6 caracteres.
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="">Confirmar Senha:</label>
            <input class="form-control" [ngClass]="{'is-invalid': f.confirmeSenha.errors && f.confirmeSenha.touched}"
              formControlName="confirmeSenha" type="password" placeholder="Confirme a Senha" />
            <div *ngIf="f.confirmeSenha.errors?.required" class="invalid-feedback">Confirmação de senha obrigatória.
            </div>
            <div *ngIf="f.confirmeSenha.errors?.mustMatch" class="invalid-feedback">Senha deve ser igual a anterior
            </div>
          </div>
        </div>
        <div class="form-row p-1 mb-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <button class="btn btn-lg btn-success btn-block px-5">
              Registar
            </button>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <a class="btn btn-link btn-block" routerLink="/user/login">
              Já sou Cadastrado
            </a>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
